/* #### Styles for the fields container ##### */
.login-container, #login-form {
	max-width: 450px;
	margin: 30px auto;
	padding: 30px;
	border: var(--login-border);
	border-radius: 8px;
	box-shadow: var(--card-shadow);
	background-color: var(--white);
}

#login-form h2, .login-container {
	text-align: center;
	margin-bottom: 30px;
	color: var(--dark-text);
	background-color: var(--card-background);
}

/*##### Styles for the fields ##### */
input[type="email"], input[type="password"] {
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 20px;
	border: var(--login-border);
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 24px;
	color: var(--form-writing-color);
	background-color: var(--white);
	outline: none;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="email"]:hover, input[type="password"]:hover {
	border-color: var(--login-hover-color);
}

input[type="email"]:focus, input[type="password"]:focus {
	border-color: var(--login-button-color);
	box-shadow: var(--login-shadow-field);
}

label {
	display: grid;
	margin-bottom: 8px;
	font-size: 14px;
	color: var(--light-text);
}

/* ##### Styles for the submit button ##### */

button[type="submit"] {
	background-color: var(--login-button-color);
	color: var(--white);
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	transition: background-color 0.3s ease, transform 0.1s ease;
	width: 100%;
	box-sizing: border-box;
}

button[type="submit"]:hover{
	background-color: var(--login-hover-color);
}

/* ##### Styles for error messages */
/* #form-messages {
	background-color: rgb(255, 232, 232);
	border: 1px solid var(--star-color);
	color: var(--star-color);
	display: none;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px 25px;
	max-width: 250px;
} */