/* ##### Styles for place card on index page ##### */

/* Styles for the place list container */
#places-list, #places-list-review {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(280px + 2*20px), 1fr));
	justify-content: center;
	padding: 1rem;
}

/* Styles for the place cards */
.place-card {
	background-color: var(--card-background);
	border: var(--border);
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	box-sizing: border-box;
	color: var(--dark-text);
	box-shadow: var(--card-shadow);
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
	max-width: 400px;
	min-height: 300px;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	overflow: hidden;
}

.place-card:hover {
    box-shadow: var(--card-shadow-hover);
	transform: translateY(-5px); /* Flight effect */
}

/* Styles for the place card container */
.place-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	width: 100%;
	flex-grow: 1;
	padding: 0 10px 10px;
	box-sizing: border-box;
}

/* Styles for the image inside the place card */
.card-image-wrapper {
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
}

.card-image-wrapper img {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
}

/* Styles for the 'view details' button */
.details-button {
    padding: 10px 10px;
    border: 0.2rem solid var(--button-background);
    background-color: var(--button-background);
    margin-top: auto;
    width: 80%;
	cursor: pointer;
	border-radius: 5px;
	color: var(--button-text-color);
}

.details-button:hover {
	background-color: var(--login-hover-color);
}

/* Styles for place details card on place page */

/* Styles for the container box */
#place-details {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(300px + 2*20px), 1fr));
	justify-content: center;
	padding: 2rem;
}

/* Styles for the place details card */
.place-details-card {
	margin: 20px;
	padding: 10px;
    border: var(--border);
    border-radius: 10px;
	box-sizing: border-box;
	background-color: var(--card-background);
	color: var(--dark-text);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	min-height: 350px;
}

.place-details-card:hover {
	box-shadow: var(--card-shadow-hover);
}

.place-info {
    display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
    height:auto;
	width: 100%;
    background-color: var(--card-background);
	color: var(--dark-text);
	flex: 1;
	padding: 0px 10px 10px 10px;
	box-sizing: border-box;
	border-radius: 10px;
}

/* Styles for the review card on place page */
#reviews {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 2rem;
}

#reviews h3 {
	width: 100%;
	text-align: left;
	margin-bottom: 1rem;
	color: var(--black);
}

.review-card {
    margin: 10px 0;
	padding: 15px;
    border: var(--border);
    border-radius: 10px;
	box-sizing: border-box;
	background-color: var(--card-background);
	color: var(--dark-text);
	display: flex;
	flex-direction: column;	
	max-width: 600px;
	width: 100%;
	box-shadow: var(--card-shadow);
}

.review-card:hover {
	box-shadow: var(--card-shadow-hover);
}

/* Styles for the review card containing user review information */
.review-card .user-info {
	font-weight: bold;
	margin-bottom: 8px;
	color: var(--medium-text);
}

.review-card .review-rating {
	display: flex;
	color: var(--dark-text);
	gap: 0.2rem;
	margin-bottom: 0.5rem;
}

.review-card .review-rating .star {
	margin-right: 2px;
	font-size: 1.2rem;
	color: var(--review-rating-place);
}

.review-card .review-rating .bxs-star {
	color: var(--review-rating-place);
}

.review-card .review-content {
	flex-grow: 1;
	margin-bottom: 10px;
	line-height: 1.5;
	color: var(--dark-text);
}

/* Styles for the review form on place page */
#add-review {
	display: flex;
	justify-content: center;
	padding: 2rem;
	width: 100%;
}

#add-review .wrapper {
	margin: 0;
	padding: 10px;
	border: var(--border);
	border-radius: 10px;
	box-sizing: border-box;
	background: var(--card-background);
	color: var(--dark-text);
	box-shadow: var(--shadow);
	max-width: 576px;
	width: 100%;	
}

#add-review .wrapper:hover {
	box-shadow: var(--card-shadow-hover);
	transform: translateY(-5px);
}
