#add-review .wrapper h3 {
	/* font-size: 1.5rem; */
	/* font-weight: 600; */
	margin-bottom: 1rem;
	color:var(--dark-text);
}

#review-form .rating {
	display: flex;
	align-items: center;
	gap: .5rem;
	font-size: 2rem;
	margin: 1rem;
}

#review-form .rating .star {
	cursor: pointer;
	color: var(--grey);
	opacity: 1;
	transition: transform 0.2s ease-in-out;
}

#review-form .rating .bxs-star {
	color: red;
}

#review-form .rating .star.active {
	/* opacity: 1; */
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

#review-form .rating .star:hover {
	transform: scale(1.1);
}

#review-form textarea {
	width: 100%;
	background: var(--light);
	color: var(--dark-text);
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	outline: none;
	resize: vertical;
	margin-bottom: 1rem;
}

#review-form .btn-group {
	display: flex;
	gap: .5rem;
	align-items: center;
}

/* #review-form .btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
} */

#review-form .btn-group .btn-submit {
	background: var(--blue);
	color: var(--white);
	border-radius: .2rem;
	margin: 3px;
	padding: .75rem 1rem;
	border: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}

#review-form .btn-group .btn-submit:hover {
	background: var(--blue-d-l);
}

#review-form .btn-group .btn-cancel {
	background: var(--light);
	color: var(--blue);
	border-radius: .2rem;
	margin: 3px;
	padding: .75rem 1rem;
	border: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}

#review-form .btn-group .btn-cancel:hover {
	background: var(--grey);
}
